/* body style  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
   /* header-container  */
   .header-container {
       height: 677px;
       background-color: #2D25A0;
       display: flex;
       align-items: center;
   }
   /* header content style  */
   .header-content {
       font-size: 64px;
       color: #ffffff;
       margin-left: 156px;
   }
   .header-content  img {
    width: 556.01px;
    height: 438px;
   }
   /* button style  */
   .button{
      position: absolute;
      height: 44px;
      width: 168px;
      padding: 10px 24px;
      left: 156px;
      top: 464px;
      background: #E02C6D;
      border: none;
      color: #ffffff;
      margin-top: 27px;
      transition: width 1s linear;
   }
   .button:hover {
     background-color: brown;
     width: 300px;
   }
   