/* body style  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
   /* header-container  */
   .header-container {
       height: 677px;
       background-color: #2D25A0;
       display: flex;
       align-items: center;
   }
   /* header content style  */
   .header-content {
       font-size: 64px;
       color: #ffffff;
       margin-left: 156px;
   }
   .header-images img {
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
   }
   /* button style  */
   .button{
      position: absolute;
      height: 44px;
      width: 168px;
      padding: 10px 24px;
      left: 156px;
      top: 464px;
      background: #E02C6D;
      border: none;
      color: #ffffff;
      margin-top: 27px;
      transition: width 1s linear;
   }
   .button:hover {
     background-color: brown;
     width: 300px;
   }
   /* players information */
   .players {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       row-gap: 27px;
       column-gap: 30px;
       margin: 70px 210px 165px 180px;
   }
   .player {
      width: 330px;
      height: 456px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      padding: 15px 15px 48px 15px;
      
      
   }
   .player .thumbnail img {
    width: 100%;
   }
   .blog-title{
       font-size: 28px;
   }
   .blog-author {
       color: #6C6C6C;
       font-size: 16px;
   }
   /* cup blog style  */
     .cup-container {
         display: grid;
         grid-template-columns: repeat(2,1fr);
     }
   /* about foot ball */
   .about-football {
       display: flex;
   }
   .football-images {
       width: 100%;
   }
   .football-blog {
       margin: 60px;
   }
   .link {
       background-color: rgb(122, 184, 28);
       color: white;
       text-decoration: none;
       padding: 16px 24px;
       position: relative;
       top: 30px;
   }
   /* footer style */
   .footer-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 56px;
       margin-top: 100px;
   }
   .footer-logo img{
    width: 483.87px;
    height: 110px;
   }
   .footer-icons {
      margin-bottom: 20px;
   }
 .fab,.fas {
     width: 32px;
     text-align: center;
     color: lightgray;
 }
 .footer-text {
     font-size: 18px;
 }
 /*-----------------
 media query
 --------------  */
 /*------------- 
  mobile divies 
 ---------------*/
 @media only screen and (max-width:480px){
     .header-container {
        display: flex;
        flex-direction: column;
     }
    .header-content {
        font-size: 36px;
        margin-left: 43px;
        margin-right: 66px;
    }
    .button {
        position: absolute;
        top:280px;
        left: 19px;
        right: 173px;
    }

    .header-images img {
      margin-top: 50px;
    margin-right: 170px;
      width: 329px;
      height: 259.17px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 24px;
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 60px;
    }
    .cup-container {
        display: flex;
        flex-direction: column;
    }
    .about-football {
        display: flex;
        flex-direction: column;
    }
    .football-images img {
        width: 370px;
        margin: 20px;
    }
    .footer-container img {
        width: 300px;
    }
  footer {
      height: 360px;
  }

 }

   